{% extends 'index.html' %}
{% load static %}
{% block content %}

<section class="ftco-section ftco-no-pt bg-black">
    <div class="container">
        <div class="row justify-content-center">
      <div class="col-md-12 heading-section text-center ftco-animate mb-5">
          <span class="subheading">What we offer</span>
        <h2 class="mb-2">Featured Vehicles</h2>
      </div>
    </div>
    {% for i in car %}
        <div class="row">
            <div class="col-md-12">
                <div class="carousel-car owl-carousel">
                    <div class="item">
                        <div class="car-wrap rounded ftco-animate">
                            <div class="img rounded d-flex align-items-end" style="background-image: url({{i.image.url}});">
                            </div>
                            <div class="text">
                                <h2 class="mb-0"><a href="#">{{ i.car_brand }}</a></h2>
                                <div class="d-flex mb-3">
                                    <span class="cat">{{ i.description }}</span>
                                    <p class="price ml-auto">{{ i.price }} <span>/day</span></p>
                                </div>
                                <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-primary py-2 mr-1">Book now</a> <a href="#" class="btn btn-secondary py-2 ml-1">Details</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}