{% extends 'index.html' %}
{% block content %}
<style>
    body {
        background-color: #333; /* Темно-серый цвет */
        color: #fff; /* Белый цвет текста для лучшей читаемости на темном фоне */
    }
</style>

    <div class="container" style="padding-top: 70px; margin-top: 70px;">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Добавить машину</button>
        </form>
    </div >

{% endblock %}
    